.a-email {
  color: #541554;
  background: #fff;
  padding: 1rem 2rem;
  border-radius: 5px;
}
.e-google {
  background: #6ebfdf;
  padding: 1rem 2rem;
  margin-left: 0.5rem;
  border-radius: 5px;
}
.e-android {
  color: #541554;
  background: #fff;
  padding: 1rem 2rem;
  border-radius: 5px;
  display: none;
}
.h-detail {
  color: #f8d615;
  width: 100%;
}
.hero-left {
  width: fit-content;
}
.h-wraper {
  background: #541554;
  color: #fff;
}
.hero-right video {
  width: 100%;
}
.hero-right {
  width: 70%;
}
.h-container {
  padding-left: 2rem;
  padding-bottom: 3rem;
  padding-top: 6rem;
}
.h-wraper .flexContent {
  gap: 3rem;
}
.m-details {
  font-weight: bolder;
  font-size: 1.2rem;
}
.hero-left p {
  line-height: 1.5;
  padding-bottom: 2rem;
  font-size: 1.3rem;
  font-weight: 500;
}
.hero-left h1 {
  font-size: 3.8rem;
  font-weight: 800;
  padding-bottom: 2rem;
}
.hero-email {
  padding-bottom: 2rem;
}

@media screen and (max-width: 980px) {
  .e-android {
    display: block;
  }
  .e-google {
    display: none;
  }
  .a-email {
    display: none;
  }
  .hero-left h1 {
    font-size: 3rem;
  }
  .hero-left h1 br {
    display: none;
  }
  .hero-right {
    width: 100%;
  }
  .hero-right video {
    width: 50vw;
  }
  .hero-email {
    display: none;
  }
  .hero-pRA {
    display: none;
  }
  .m-details {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .h-wraper .flexContent {
    flex-direction: column;
    padding-left: 1.3rem;
    justify-content: space-around;
    align-items: center;
  }
}
