.m-left video {
  width: 100%;
}
.m-wraper {
  background: #f4ede4 !important;
}
.m-container .flexContent {
  gap: 7rem;
  padding-bottom: 5rem;
}
.m-link {
  display: inline-block;
  position: absolute;
  color: #0087ca;
  z-index: -1;
}
.m-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.m-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.m-right h2 {
  margin-bottom: 1rem;
}
.m-right p {
  margin-bottom: 1rem;
}
.cont-left {
  margin-left: 1rem;
}
.m-wraper {
  line-height: 1.5;
  font-size: 1.2rem;
}
.main-img {
  background: #00ca07;
  padding: 1rem 3rem;
  width: 100vw;
  display: none;
  border-radius: 5px;
}
.main-img img {
  width: 100%;
}
.cont-left .m-mindle {
  background: #f5f225;
  padding: 1rem 3rem;
  width: 100vw;
  display: none;
  border-radius: 5px;
}
.cont-left .m-mindle img {
  width: 100%;
}
.m-left .m-first-img {
  background: #0087ca;
  padding: 1rem 3rem;
  width: 100vw;
  display: none;
  border-radius: 5px;
}

.m-left .m-first-img img {
  width: 100%;
}
@media screen and (max-width: 960px) {
  body {
    width: 100vw;
  }
  .m-left-last {
    flex-direction: column;
  }
  .m-left-last .m-left video {
    display: none;
  }
  .main-img {
    display: block;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cont-left video {
    display: none;
  }
  .cont-left {
    flex-direction: column;
  }
  .cont-left .m-mindle {
    display: block;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
  }
  .m-left video {
    display: none;
  }
  .m-left .m-first-img {
    display: block;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .m-first-coln {
    flex-direction: column;
  }
  .m-right {
    width: 90vw;
  }
}
